html {
  background: rgb(36, 36, 36);
  font-size: 18px;
}

h1 {
  text-align: center;
  color: rgb(152, 164, 255)
}

canvas {
  background: white;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
}

div {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: white;
}

a, a:visited {
  color: rgb(76, 169, 251);
}