body {
  background-color: rgb(77, 24, 24);
  font-size: 25px;
}

#rules {
  text-align: center;
  font-family: monospace;
  padding-top: 50px;
  padding-left: 400px;
  padding-right: 400px;
}

#back-icon {
  position: absolute;
  top: 86%;
  padding: 21px;
}